page-edashboard {
    .content {
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .top {
        position: absolute;
        top: 0;
        right: auto;
        left: 60px;
    }
}